# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- list popular languages
- list common libraries
- list data science tools
- Create headings
- Create bold text

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Keras
3. Tensor Flow

|Data science tools|
|------------------|
|RStudio|
|ApacheSpark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
x = 200/60
print ("200 min are",x,"hours")

200 min are 3.3333333333333335 hours

## Author
Juanita Ladr√≥n de Guevara